
.frm-well{
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
}

.tasks{
  background-color: #EDF2F7;
  padding: 20px;
}

.quick-resume{
  margin-top: 20px;
}

.progress{
  background-color: #DEDEDE;
}

.dp-panel{
  border-top: 6px solid #DA6359;
}

.task-open-icon{
  font-size: 30px;
  top: 4px;
  position: relative;

  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.task-open-icon.down{
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 0px;
}


table tr.separator { height: 30px; }

.big-title{
  font-size: 80px;
  text-align: center;
  padding-top: 40px;
  font-weight: bolder;
  color: #767676;
}

.big-subtitle{
  text-align: center;
    font-size: 22px;
    font-weight: normal;
    color: #767676;
}

.focus-title{
    font-weight: bolder;
    color: #414141;
}

.middle-subtitle{
  text-align: center;
    font-size: 16px;
    padding-top: 10px;
    color: #767676;
}