<div class="quick-resume">
  <div class="container">
    <div class="well frm-well">
      <div class="row">
        <div class="col-xs-11">
          <div class="dp-title" data-toggle="tooltip" title="{{userStory.description}}">
            {{userStory.shortDescription}}
              <span class="dp-label label label-primary dp-label-{{userStory.status}}">
                {{userStory.status  | removeDashes | capitalize}}
              </span>
          </div>
        </div>
        <div class="col-xs-1">
          <div class="pull-right">
            <strong> ID: {{userStory.id}}</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a ng-href="{{userStory.showDetailedUri}}"
             target="_blank"
             class="dp-link-title">
            <i class="fa fa-external-link"></i>
            Show detailed user history
          </a>
        </div>
      </div>
      <div class="row add-margin-top">
        <div class="col-xs-3">
          <i class="fa fa-user" aria-hidden="true"></i>
          <strong>Submitted by</strong>
          <a href ng-click="mailTo(userStory.submitted_by.email)">
            {{userStory.submitted_by.name}}
          </a>

        </div>
        <div class="col-xs-3">
          <i class="fa fa-calendar" aria-hidden="true"></i>
         <strong> Created on</strong> {{userStory.createdOn}}
        </div>
        <div class="col-xs-3">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <strong>Updated on</strong> {{userStory.updatedOn}}
        </div>
      </div>
      <div class="row add-margin-top">
        <div class="col-xs-12">
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                 aria-valuenow="{{userStory.completed.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{userStory.completed.percentage}}%">
              <span class="sr-only">{{userStory.completed.completed}} / {{userStory.completed.total}} Blueprints completed</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
