<div class="panel dp-panel">
  <div class="panel-body">

    <div class="row">
      <div class="col-xs-12">
        <div class="dp-title">
          <h4>
            <i class="fa fa-sort-desc task-open-icon"
               ng-class="{'down': openTasks[key]}"
               ng-click="closeTask(key)" aria-hidden="true"></i>
            {{key}}
            <span class="dp-label label label-primary dp-label-{{task.xp_status}}">
              {{task.xp_status | removeDashes | capitalize}}
            </span>
            </h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <a ng-href="{{task.url}}"
           target="_blank"
           class="dp-link-title">
          <i class="fa fa-external-link"></i>
          Show detailed task history
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p class="compress-text"
           ng-class="{'uncompress-text': showText[key]}">
          {{task.description}}
        </p>
        <a ng-href=""
           ng-click="showMore(key)"
           class="dp-link-title"
            ng-hide="showText[key] || task.description.length < 420">
          Show More
        </a>
        <a ng-href=""
           ng-click="showLess(key)"
           class="dp-link-title"
           ng-show="showText[key]">
          Show Less
        </a>
      </div>
    </div>

    <hr class="dp-hr" ng-show="openTasks[key]">
    <h5 class="dp-subtitle text-center" ng-show="openTasks[key]">
      Projects
    </h5>

    <div class="row" ng-show="openTasks[key]">
      <div class="col-xs-3">
        <ul class="dp-nav-pills nav nav-pills nav-stacked">
          <li role="{{actualProject.key}}"
              ng-repeat="(keyProject, project) in task.projects_status"
              ng-class="{'active': actualProject[key] == keyProject}"
              ng-click="selectProject(keyProject, key)">
              <a href="">
                <i class="{{getProjectIcon(keyProject)}}"
                   aria-hidden="true"></i>
                {{keyProject | capitalize | capitalize}}
              </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-9">
        <table class="table">
          <thead>
          <tr>
            <th class="dp-subtitle">Spec</th>
            <th class="dp-subtitle">Status</th>
            <th ></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>{{task.projects_status[actualProject[key]].spec_name  | removeDashes | capitalize}}</th>
            <td>
              <span class="label label-primary dp-label-{{task.projects_status[actualProject[key]].spec_status}}">
                {{task.projects_status[actualProject[key]].spec_status  | removeDashes | capitalize}}
              </span>
            </td>
            <td>
              <a ng-href="{{task.projects_status[actualProject[key]].spec}}"
                 target="_blank"
                 class="dp-link-title">
                <i class="fa fa-external-link"></i>
                Show details
              </a>
            </td>
          </tr>
          </tbody>
          <thead>
          <tr class="separator" />
          <tr>
            <th class="dp-subtitle">Blueprints</th>
            <th class="dp-subtitle">Status</th>
            <th class="dp-subtitle">Review Links</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="blueprint in task.projects_status[actualProject[key]].blueprints">
            <td>
              <a href="{{blueprint.uri}}" class="dp-link-title" target="_blank">
                {{blueprint.name | capitalize | capitalize}}
              </a>
            </td>
            <td>
              <span class="label label-primary dp-label-{{blueprint.status}}">
                {{blueprint.status  | removeDashes | capitalize}}
              </span>
            </td>
            <td>
              <ul>
                <li ng-repeat="review_link in blueprint.review_link">
                  <a ng-href="{{review_link.url}}"
                     class="dp-link-title"
                     target="_blank">
                    <i class="fa fa-external-link"></i>
                    {{review_link.name}}
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
