/*
* Dashboard project classes "dp"
*/
.dp-top-alignment {
    padding-top: 20px;
}
.dp-progress {
    margin-bottom: 0px;
    background-color: #E6E6E6;
}
.pagination-detail {
    font-size: 12px;
}
.search {
    width: 50%;
}
.fixed-table-container tbody td {
    border-left: none;
}
.fixed-table-container thead th{
    border-left: none;
}
.fixed-table-toolbar .bars, .fixed-table-toolbar .search, .fixed-table-toolbar .columns{
    margin-bottom: 25px;
}
.fixed-table-container tbody td {
    max-width:200px; /* Customise it accordingly */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
